{{> select2scripts}}
<style>
    ul.select2-selection__rendered {
        font-size: 12px;
    }
</style>
<div class="form-row" id="filter-bar">
    <div class="col-md-4 col-lg-4">
        <label for="inputcolname" class="col-sm-4 control-label">Column Name:</label>
        <div class="col-sm-8">
            <select class="form-control data-field" id="sel_colname" multiple="multiple">
                {{#each colNames}}
                <option value="{{this}}" {{#if_equal @index 0}}selected="selected" {{/if_equal}}>{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <span id="skip_form">
        <div class="col-md-3 col-lg-3">
            <label for="inputcolname" class="col-sm-2 control-label">Interval:</label>
            <div class="col-sm-10">
                <select class="form-control data-field" name="type" id="sel_skip">
                    <option value="y">Years</option>
                    <option value="mm">Months</option>
                    <option value="d">Days</option>
                    <option value="h" selected="selected">Hours</option>
                    <option value="m">Minutes</option>
                    <option value="s">Seconds</option>
                </select>
            </div>
        </div>
        <div class="col-md-5 col-lg-5">
            <label for="input" class="col-sm-2 control-label">Date Range:</label>
            <div class="col-sm-5">
                <input type="date" name="fromdate" class="form-control data-field" value="{{todaysDate}}">
            </div>
            <div class="col-sm-5">
                <input type="date" name="todate" class="form-control data-field" value="{{todaysDate}}">
            </div>
        </div>
    </span>
</div>
<br><br><br>
<div class="row">
    <div id="chart_div" style="width: 95%;height: 70vh;"></div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sel_colname').select2();
    });
    google.charts.load('current', {
        'packages': ['annotationchart']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        let formdata = [];
        let names = $('#sel_colname').val();
        names.forEach(function (item) {
            formdata.push({
                name: 'cols[]',
                value: item
            });
        });
        $('#skip_form').find('.data-field').each(function (i, item) {
            item = $(item);
            formdata.push({
                name: item.attr('name'),
                value: item.val()
            })
        });
        $.ajax({
            type: "POST",
            data: formdata,
            beforeSend: function () {
                $('.loader').show();
            },
            complete: function () {
                $('.loader').hide();
            },
            error: function (jqxhr, txStatus, errThrown) {
                alert(txStatus + errThrown);
            },
            success: function (res) {
                if (res.status == 'success') {
                    var data = new google.visualization.DataTable();
                    data.addColumn('date', 'Date');
                    names.forEach(function (item) {
                        data.addColumn('number', item.replace(/\_/g, ' '));
                    });
                    data.addRows(res.map((item) => {
                        item = Object.values(item);
                        item.pop();
                        item[0] = new Date(item[0]);
                        return item;
                    }));
                    var chart = new google.visualization.AnnotationChart(document.getElementById(
                        'chart_div'));
                    var options = {
                        displayAnnotations: true,
                        displayZoomButtons: false
                    };
                    chart.draw(data, options);
                }
            } else {
                console.log(res);
                alert('There was an error getting data!');
            }
        });
    }
    $('#filter-bar').on('change', '.data-field', function () {
        if ($('#sel_colname').val()) {
            drawChart();
        }
    });
</script>