{{> select2scripts}}
<style>
    ul.select2-selection__rendered {
        font-size: 12px;
    }
</style>
<div class="form-row" id="filter-bar">
    <div class="col-md-4 col-lg-4">
        <label for="inputcolname" class="col-sm-4 control-label">Column Name:</label>
        <div class="col-sm-8">
            <select class="form-control data-field" id="sel_colname" multiple="multiple">
                {{#each colNames}}
                <option value="{{this}}" {{#if_equal @index 0}}selected="selected" {{/if_equal}}>{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <span id="skip_form">
        <div class="col-md-3 col-lg-3">
            <label for="inputcolname" class="col-sm-4 control-label">Plot:</label>
            <div class="col-sm-8">
                <select class="form-control data-field" name="type" id="sel_skip">
                    <option value="AVG">Average</option>
                    <option value="MAX">Max</option>
                    <option value="MIN">Min</option>
                </select>
            </div>
        </div>
        <div class="col-md-5 col-lg-5">
            <label for="input" class="col-sm-2 control-label">Date Range:</label>
            <div class="col-sm-5">
                <input type="date" name="fromdate" class="form-control data-field" value="{{prevWeek}}">
            </div>
            <div class="col-sm-5">
                <input type="date" name="todate" class="form-control data-field" value="{{todaysDate}}">
            </div>
        </div>
    </span>
</div>
<br><br><br>
<div class="row">
    <div id="chart_div" style="width: 95%;height: 70vh;"></div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sel_colname').select2();
    });
    google.charts.load('current', {
        'packages': ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        let formdata = [];
        let names = $('#sel_colname').val();
        names.forEach(function (item) {
            formdata.push({
                name: 'cols[]',
                value: item
            });
        });
        $('#skip_form').find('.data-field').each(function (i, item) {
            item = $(item);
            formdata.push({
                name: item.attr('name'),
                value: item.val()
            })
        });
        $.ajax({
            type: "POST",
            data: formdata,
            url: '/chart/bar',
            beforeSend: function(){
                $('.loader').show();
            },
            error: function (jqxhr, txStatus, errThrown) {
                alert(txStatus + errThrown);
            },
            complete: function(){
                $('.loader').hide();
            },
            success: function (res) {
                var data = new google.visualization.DataTable();
                data.addColumn('date', 'Date');
                names.forEach(col => {
                    data.addColumn('number', col);
                });
                let allData = res.map(function (item) {
                    item = Object.values(item);
                    item[1] = new Date(item[1]);
                    let rowData = [];
                    item.forEach(function (val, i) {
                        rowData.push(val);
                    });
                    rowData.shift();
                    return rowData;
                });
                data.addRows(allData);
                var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
                var opts = {
                    legend: 'none',
                    trendlines: {
                        0: {
                            type: 'linear',
                            lineWidth: 5,
                            opacity: .3
                        },
                        1: {
                            type: 'exponential',
                            lineWidth: 10,
                            opacity: .3
                        }
                    },
                };
                chart.draw(data, opts);
            }
        });
    }
    $('#filter-bar').on('change', '.data-field', function () {
        if ($('#sel_colname').val()) {
            drawChart();
        }
    });
</script>