<link rel="stylesheet" type="text/css" href="/public/css/datatables.min.css" />
<script type="text/javascript" src="/public/js/datatables.min.js"></script>
<div class="container">
    <div class="row">
        <a class="btn btn-primary" data-toggle="modal" href='#modal-addTrigger'>Add New Notification Trigger</a>
    </div><br><br>
    <div class="row">
        <table class="table table-hover" id="mydatatable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Variation</th>
                    <th>Minimum</th>
                    <th>Maximum</th>
                    <th>Last Changed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal-addTrigger">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add New Notification Trigger</h4>
            </div>
            <div class="modal-body">
                <form method="POST" role="form">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputColumns" class="col-md-4 control-label">Select Column:</label>
                            <div class="col-md-8">
                                <select name="column" id="inputColumns" class="form-control" required="required">
                                    <option value=""></option>
                                    {{#each colNames}}
                                    <option value="{{this}}">
                                        {{this}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="radiochoice">
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="choice" value="variation" checked="checked">
                                        Add Variation
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="choice" value="range">
                                        Add Range
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="variation-block">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputvariation" class="col-sm-4 control-label" data-toggle="tooltip"
                                    title="How much value should change before it will send email.">Notify on
                                    variation:</label>
                                <div class="col-md-8">
                                    <input type="number" name="variation" id="inputvariation" class="form-control"
                                        value="" min="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="range-block" style="display: none;">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputmin" class="col-sm-5 control-label">Notify on value lower than:</label>
                                <div class="col-md-7">
                                    <input type="number" name="min" id="inputmin" class="form-control" value="" min="1">
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputmax" class="col-sm-5 control-label" data-toggle="tooltip"
                                    title="How much value should change before it will send email.">Notify on value
                                    higher
                                    than:</label>
                                <div class="col-md-7">
                                    <input type="number" name="max" id="inputmax" class="form-control" value="" min="1">
                                </div>
                            </div>
                        </div>
                    </div><br>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Notification Trigger</h4>
            </div>
            <div class="modal-body">
                <form method="POST" role="form">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputColumns" class="col-md-4 control-label">Select Column:</label>
                            <div class="col-md-8">
                                <input type="hidden" name="edit" class="form-control" value="true">
                                <input type="hidden" name="column" class="form-control" value="">
                                <input type="text" id="inputColname" class="form-control" value="" disabled>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="radiochoice">
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="choice" value="variation" checked="checked">
                                        Add Variation
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="choice" value="range">
                                        Add Range
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="variation-block">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputvariation" class="col-sm-4 control-label" data-toggle="tooltip"
                                    title="How much value should change before it will send email.">Notify on
                                    variation:</label>
                                <div class="col-md-8">
                                    <input type="number" name="variation" id="inputvariation" class="form-control"
                                        value="" min="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="range-block" style="display: none;">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputmin" class="col-sm-5 control-label">Notify on value lower than:</label>
                                <div class="col-md-7">
                                    <input type="number" name="min" id="inputmin" class="form-control" value="" min="1">
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputmax" class="col-sm-5 control-label" data-toggle="tooltip"
                                    title="How much value should change before it will send email.">Notify on value
                                    higher
                                    than:</label>
                                <div class="col-md-7">
                                    <input type="number" name="max" id="inputmax" class="form-control" value="" min="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('.radiochoice').on('change', 'input', function () {
        $modal = $(this).closest('.modal-body');
        $modal.find('#variation-block').hide();
        $modal.find('#range-block').hide();
        if (this.value == 'variation') {
            $modal.find('#variation-block').show();
        } else {
            $modal.find('#range-block').show();
        }
    });
    $('#mydatatable').DataTable({
        "order": [
            [0, "desc"]
        ],
        "serverSide": true,
        "searching": false,
        'ajax': {
            "type": "POST",
            "url": '/admin/notif_table',
            "beforeSend": function () {
                $('.loader').show();
            },
            "error": function (jqxhr, txStatus, errThrown) {
                alert(txStatus + errThrown);
            },
            "complete": function () {
                $('.loader').hide();
            },
        },
        "columns": [{
            "title": "Name",
            "data": "name"
        }, {
            "title": "Variation",
            "data": "variation"
        }, {
            "title": "Minimum",
            "data": "min"
        }, {
            "title": "Maximum",
            "data": "max"
        }, {
            "title": "Last Changed",
            "data": "changed"
        }, {
            "title": "Actions",
            "data": "actions"
        }]
    });
    $('#mydatatable').on('click', '.btnEdit', function () {
        $('#modal-edit').find('input[type="number"]').each(function (i, item) {
            item.value = 0
        });
        $.ajax({
            type: "POST",
            url: "/admin/getFlag",
            data: {
                name: $(this).data('name')
            },
            xhrFields: {
                withCredentials: true
            },
            beforeSend: function () {
                $('.loader').show();
            },
            error: function (jqxhr, txStatus, errThrown) {
                alert("Error reaching server " + errThrown);
            },
            complete: function () {
                $('.loader').hide();
            },
            success: function (res) {
                $('#modal-edit input[name="column"]').val(res.name);
                $('#modal-edit #inputColname').val(res.name);
                if (res.variation) {
                    $('#modal-edit input[value="variation"]').click();
                    $('#modal-edit #inputvariation').val(res.variation);
                } else {
                    $('#modal-edit input[value="range"]').click();
                    $('#modal-edit #inputmin').val(res.min);
                    $('#modal-edit #inputmax').val(res.max);
                }
            }
        });
    });
</script>