<h1 class="text-center">Upload log file</h1>
<div class="row mt-2">
    <div class="col-md-4 col-lg-4">
        <!-- Somehow the offset class is not working -->
    </div>
    <div class="col-md-4 col-lg-4">
        <div class="row" id="formDiv">
            <form enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Browse</label>
                    <input type="file" class="form-control" id="" name="logfile[]" placeholder="Input field"
                        multiple="multiple" accept=".log">
                </div>

                <input type="hidden" name="token" class="form-control" value="{{token}}">

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div id="progDiv" class="row text-center" style="display: none;">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:0%">
                    0%
                </div>
            </div>
            <div><span class="rowCount">0</span> rows added to database</div>
            <div>Processing <span class="filesCount">0</span> files</div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/stats",
            success: function (res) {
                if (res && !res.complete) {
                    runProgress($('form'));
                }
            }
        });
    });
    $('form').submit(function (e) {
        e.preventDefault();
        e.stopPropagation();
        $.ajax({
            type: 'POST',
            url: "/uploadfiles",
            beforeSend: function () {
                $('.loader').show();
            },
            enctype: 'multipart/form-data',
            data: new FormData(this),
            processData: false,
            contentType: false,
            cache: false,
            error: function (jqxhr, txStatus, errThrown) {
                alert(txStatus + errThrown);
            },
            success: function (res) {
                if (res.status == 'success') {
                    runProgress($('form'));
                } else {
                    $('.loader').hide();
                    alert(res.message)
                }
            }
        })
    });

    function runProgress(form) {
        $form = $(form);
        $form.find('button').addClass('disabled');
        $form.closest('#formDiv').hide();
        $prog = $('#progDiv');
        $prog.show();
        timer($prog, 3000);
    }

    function timer($prog, t) {
        setTimeout(() => {
            $.ajax({
                type: "GET",
                url: "/stats",
                success: function (res) {
                    if (res) {
                        $prog.find('.progress-bar').css('width', res.percentage + '%');
                        $prog.find('.progress-bar').text(res.percentage + '%');
                        $prog.find('span.rowCount').text(res.current + ' of ' + res.total);
                        $prog.find('span.filesCount').text(res.remainingFiles + ' of ' +
                            res.totalFiles);
                        if (res.complete && !res.totalFiles) {
                            $prog.find('span.rowCount').text(
                                "Process finished! All");
                        } else {
                            if (t) {
                                $('.loader').hide();
                            }
                            timer($prog);
                        }
                    }
                }
            });
        }, t || 500);
    }
</script>